.container {
    font-size: 0;
    height:380px;
    width:450px;
    margin: 0 auto;
    }
    
    .container__item {
    height:40px;
    width:40px;
    border:1px solid black;
    float:left;
    }
    
    .container__item:nth-child(2n+1) {
        background: black;
    }
    
    .container__item:nth-child(odd) {
        background: black;
    }
    